<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>

<p id="notice"></p>
<p>
<strong>Title:</strong>
 <%= @books.title %>
</p>
<p>
<strong>Body:</strong>
 <%= @books.body %>
</p>

　<a class="edit"><%= link_to "Edit" , edit_book_path(@books.id) %></a>
　|
　<a class="back"><%= link_to "Back" , books_path %></a>
