<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>

<p id="notice"></p>
<p>
<strong>Title:</strong>
 <%= @books.title %>
</p>
<p>
<strong>Body:</strong>
 <%= @books.body %>
</p>

　<%= link_to "Edit" , edit_book_path(@books.id) %>
　|
　<%= link_to "Back" , books_path %>
